.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("src/assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

h1 {
  margin: 50px 0px 100px 150px;
  font-size: 85px;
  font-family: "Dr Sugiyama", cursive;
  color:  rgb(46, 2, 59);
}

.contact-container {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  margin: 50px 0px 0px 150px;
  color:  rgb(46, 2, 59);
  background-color: rgb(255, 255, 255, .5);
  padding: 30px;
  border-radius: 7px;
}

.contact-line {
  padding: 10px;
}

span {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(46, 2, 59);
}

@media only screen and (max-width: 600px) {

  h1 {
    margin: 100px 0px 50px 0px;
  }

  .contact-container {
    margin: 15px;
    font-size: 18px;
  }
}
