<div class="sidenav">
  <a class="home" routerLink="/home" rounterLinkActive="active" alt="home"
    ><i class="fas fa-home"><span>Home</span></i
  ></a>
  <a class="about" routerLink="/about" rounterLinkActive="active" alt="about"
    ><i class="fas fa-user"></i
  ></a>
  <a
    class="projects"
    routerLink="/projects"
    rounterLinkActive="active"
    alt="projects"
    ><i class="fas fa-eye"></i
  ></a>
  <a
    class="contact"
    routerLink="/contact"
    rounterLinkActive="active"
    alt="contact"
    ><i class="fas fa-envelope"></i
  ></a>
</div>
