<div class="project-page">
  <app-header></app-header>
  <h1 class="project-header">Projects</h1>
  <div class="project-container">
    <div class="project">
      <h1 class="title">SkyView Final Project (Coming Soon!)</h1>
      <button class="website-link"><a href="https://jfullone.github.io/JS_Memory_Game/">Check it out!</a></button>
      <button class="github-button"><a href="https://github.com/jfullone/JS_Memory_Game"><i class="fab fa-github"></i></a></button>
    </div>
    <div class="project">
      <h1 class="title">Angular Recipe Search</h1>
      <button class="website-link"><a href="https://jfullone.github.io/recipe-app/search-criteria">Check it out!</a></button>
      <button class="github-button"><a href="https://github.com/jfullone/recipe-app"><i class="fab fa-github"></i></a></button>
    </div>
    <div class="project">
      <h1 class="title">Vanilla JavaScript Memory Game</h1>
      <button class="website-link"><a href="https://jfullone.github.io/JS_Memory_Game/">Check it out!</a></button>
      <button class="github-button"><a href="https://github.com/jfullone/JS_Memory_Game"></a><i class="fab fa-github"></i></button>
    </div>
    <div class="project" id="lotus-portrait">
      <h3 class="lotus-title">Logo created for The Roasted Lotus Coffee Co.</h3>
      <img src="assets/roasted-lotus-1.png" alt="roasted-lotus-logo">
    </div>
    <div class="project" id="lotus-landscape">
      <h3 class="lotus-title">Logo created for The Roasted Lotus Coffee Co.</h3>
      <img id="lotus-img-2" src="assets/roasted-lotus-2.png" alt="roasted-lotus-logo">
    </div>
  </div>
</div>
