html {
    background-image: linear-gradient(to right, #164A41, #4D774E, #9DC88D);
}
body {
    margin: 0px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px 0px 0px 140px;
    font-family: 'Cabin', sans-serif;
    background-image: linear-gradient(to right, #164A41, #4D774E, #9DC88D);
    background-size: cover;
}

h1 {
    color: white;
    font-size: 65px;
}

h2 {
    color: white;
    font-size: 30px;
}

button {
    font-family: 'Cabin', sans-serif;
    margin-top: 50px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F1B24A;
    border: 1px solid #F1B24A;
    background-color: #164A41;
    cursor: pointer;
}

button:hover {
    color: white;
    border: 1px solid white;
}