<div class="about-container">
  <app-header></app-header>
  <h1>About Me</h1>
  <div>
    <img src="assets/about-me-collage1.jpg" alt="" />
  </div>
  <div class="paragraph">
    <p>
      After years of working in healthcare as a physical therapist assistant the
      COVID-19 pandemic left me furloughed. I took this opportunity to take the
      leap into the tech world and make the career change that I had been
      dreaming up. I thrive where I can be creative but also have the ability to
      be highly analytical so I enrolled in the web development bootcamp with
      Grand Circus. The six month program helped me to develop not only my
      technical skills and programming knowledge, but also my ability to work in
      a team environment.
    </p>
    <p>
      Throughout my career I have developed and used many skills that will help
      me on this new path such as leadership, communication, problem-solving,
      adaptability, and the ability to learn quickly. I am looking for a
      position that will allow me to contribute these skills to an organization
      while providing the opportunity to continue developing my technical
      skills.
    </p>
    <p>
      Prior to the pandemic my wife and I chose to explore entrepreneurship and
      launched our side hustle, The Roasted Lotus. The Roasted Lotus is a food
      truck serving crafted coffee drinks and allergen-friendly baked goods to
      west Michigan. We dove in to starting this business with no prior
      knowledge of food trucks and built out the business and the truck from
      scratch. We sourced our own products and equipment, designed and built up
      the layout, plumbing, and energy sources, and ran through all of the
      documentation ourselves. This project required a great deal of learning
      and pivoting on the fly, attributes that I will bring into the next phase
      of my career.
    </p>
    <p>
      When I'm not busy coding and slinging coffee I enjoy time with my two
      dogs, building and refinishing furniture, and tackling projects around our
      house in Rockford, Michigan.
    </p>
    <p>
      If you would like to learn more about what I can contribute to your
      company and think I could be a fit for your organization please contact
      me. I look forward to hearing from you!
    </p>
  </div>
  <button routerLink="/contact" rounterLinkActive="active" alt="contact">
    Contact Me
  </button>
</div>
