<div class="about-container">
    <app-header></app-header>
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus dolorum nobis aut aspernatur accusamus quasi, error consectetur tempore qui numquam, nulla, esse eius labore ipsum perferendis sint molestias dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dignissimos nulla nostrum. Totam molestiae libero neque ipsa voluptatem rerum, tempore aliquam fuga molestias ut qui laboriosam? Odio magni exercitationem qui? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero possimus accusamus veritatis tempore, quidem delectus quo quasi nobis? Recusandae, exercitationem labore obcaecati dicta eius minima ratione modi vitae officiis repudiandae!</p>
    <button routerLink="/contact"
    rounterLinkActive="active"
    alt="contact">Contact Me</button>
</div>
